{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb-5" id="front-page">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center text-light bg-dark" id="hometext">
            <h1>Qui sommes nous?</h1>
            <p>Located on a charming street corner in the heart of the city, Artist's Cafe is a cozy and inviting spot for coffee enthusiasts and foodies alike. As soon as you step inside, you'll be greeted by the rich aroma of freshly brewed coffee and the warm ambiance of the cafe's decor.

                The walls are adorned with unique pieces of artwork, all of which are available for purchase, adding to the cafe's eclectic vibe. The menu is carefully curated to offer a variety of options, from classic espresso-based drinks to inventive seasonal blends, and the pastries and baked goods are all made in-house with the highest quality ingredients.
                
                Whether you're looking for a quiet spot to work on your latest project or catch up with friends, Artist's Cafe offers a comfortable and inspiring atmosphere. The staff are friendly and knowledgeable, always happy to offer recommendations or chat about the latest art exhibits around town. With its focus on creativity, community, and delicious coffee, Artist's Cafe is a must-visit destination for anyone looking for a unique and memorable cafe experience.</p>
        </div>
    </div>
</div>
{% endblock content %}