#front-page {
    background: url('cafepic.jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#hometext {
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}

#welcome {
    background-color: rgba(124, 120, 119, 0.7);
    font-family: American Typewriter, serif;
}
