{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for starter in starters %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ starter.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ starter.pk }}">
                                    <label class="form-check-label">{{ starter.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp; £{{ starter.price }}</p>
                            </div>
                            <p>{{ starter.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for main in mains %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ main.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ main.pk }}">
                                    <label class="form-check-label">{{ main.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp; £{{ main.price }}</p>
                            </div>
                            <p>{{ main.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for dessert in desserts %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                    <label class="form-check-label">{{ dessert.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp; £{{ dessert.price }}</p>
                            </div>
                            <p>{{ dessert.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for drinks in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ drinks.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drinks.pk }}">
                                    <label class="form-check-label">{{ drinks.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp; £{{ drinks.price }}</p>
                            </div>
                            <p>{{ drinks.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="form-group pt-3">
                    <label for="name">Full Name: </label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Email Address: </label>
                    <input required class="form-control" type="text" placeholder="example@company.com" name="email" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Street Address: </label>
                    <input required class="form-control" type="text" placeholder="123 High St" name="street" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">City: </label>
                    <input required class="form-control" type="text" placeholder="Oxford" name="city" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">County: </label>
                    <input required class="form-control" type="text" placeholder="Oxfordshire" name="county" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Post Code: </label>
                    <input required class="form-control" type="text" placeholder="OX1 1AA" name="postcode" />
                </div>


                <button class="btn btn-dark mt-5">Place Order!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}